{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="block">
    <div class="block"> 
      <h2 class="title is-2">Log In</h2>
    </div>
    <div class="block">
      <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p class="mt-4">
          {{ field.label_tag }}<br>
          {{ field }}
        </p>
        {% endfor %}
        <button class="button is-primary is-medium mt-5"  type="submit">Log In</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}