<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the Bulma CSS framework for styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <title>Dwitter</title>
  </head>
  <body>
    <section class="hero is-small is-primary mb-6">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              
                <div class="hero-body">
                  <a href="{% url 'dashboard' %}">
                    <h1 class="title is-1">Dwitter</h1>
                  </a>
                  <p class="subtitle is-4">
                    Your tiny social network built with Django
                  </p>
                </div>
              
              <span class="navbar-burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                
                {% if user.is_authenticated %}
                    <a class="navbar-item" href="{% url 'profile' user.id %}">
                      Hi {{ user.username }}!
                    </a>
                    <a class="navbar-item is-active" href="{% url 'logout' %}">
                      Log out
                    </a>
                {% else %}
                    <a class="navbar-item">You are not logged in.</a>
                    <a class="navbar-item" href="{% url 'login' %}">Log In</a> <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
    </section>
    
        
        <div class="container">
          <div class="columns">
        
            {% block content %}
        
            {% endblock content %}
        
          </div>
        </div>
  </body>
</html>
